/* Styles here */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700&family=Roboto:wght@300;400;500;700&display=swap');

html {
    scroll-behavior: smooth;
    height: 100%;
}

html, body {
    max-width: 100%;
    overflow-x: hidden;
}

/* Navbar */
.navbar-light .navbar-nav .nav-link {
    color: #000;
    font-family: 'Roboto', sans-serif;
}

#brand-logo {
    width: 60px;
    height: 60px;
}

#admin-user {
    padding-left: 8rem;
    padding-top: 0.4rem;
}

/* Hero image */
#home-header {
    background: url('/static/img/hero.jpg') no-repeat center;
    background-size: cover;
    height: 39rem;
}

.main-heading {
    margin-top: 10rem;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.8rem;
    font-weight: 600;
    color: #000000;
    text-shadow: 0.07rem 0.06rem #fafafa;
  }
  
.sub-heading {
    color: #fafafa;
    text-shadow: 0.1rem 0.1rem #212324;
}

.section-heading-1 {
    margin-top: 6rem;
    font-family: 'Roboto', sans-serif;
    font-size: 2rem;
}

.section-p {
    font-size: 1.2rem;
}

.section-button {
    background-color: #56C3D4;
    color: #fafafa;
  }
  
.section-button:hover, .section-button:active {
    background-color: #56C3D4;
    color: #fafafa;
    -webkit-transform: scale(1.05);
        -ms-transform: scale(1.05);
            transform: scale(1.05);
}

/* Breast Cancer Awareness section */
.page-background {
    background: url('/static/img/ribbon_adobespark.png') no-repeat center;
    background-size: cover;
    height: 20rem;
    margin-top: -12rem;
    margin-left: -2rem;
}

/* Share Story section */
.bg-story {
    background-color: #EAF4F5!important;
}

#story-img {
    margin-right: 4rem;
}

.para-center {
    margin: auto;
    width: 50%;
    padding: 0.625rem;
}

/* Media Queries */
/* Display on tablet devices */  

@media only screen 
  and (min-width : 768px) 
  and (max-width : 1024px) 
  and (-webkit-min-device-pixel-ratio: 1) {

    #home-header {
        height: 40rem;
    }

}

/* Display on large devices */
@media screen 
  and (min-width: 1024px) {

    .navbar {
        font-size: 1.2rem;
      }
    
    #home-header {
        height: 33rem;
    }

    .main-heading {
        margin-top: 14rem;
        font-family: 'Montserrat', sans-serif;
        font-size: 3rem;
        font-weight: 500;

      }

      .section-heading-1 {
        font-size: 2.1rem;
    }

      .page-background {
        height: 40rem;
        margin-top: -25rem;
        margin-left: -10rem;
    }

}

/* iPhone 5 only (portrait mode)
resource: https://coderwall.com/p/mwvbea/media-queries-only-for-the-iphone-5-part-i */ 

@media only screen 
  and (min-width: 320px) 
  and (max-width: 568px)
  and (-webkit-device-pixel-ratio: 2) 
  and (min-aspect-ratio: 40/71) and (orientation:portrait) {


}