{% extends 'base.html' %}

{% block content %}

<h1>Your Stories</h1>

{% for story in stories %}

<h4>_________________________</h4>

<h4>{{ story.title }}</h4>
<p>{{ story.text }}</p>

<a href="{{ url_for('edit_story_page', storyId=story._id) }}">[edit]</a>
<a href="{{ url_for('delete_story', storyId=story._id) }}">[delete]</a>

<h4>_________________________</h4>

{% endfor %}

<ul class="list-unstyled">
    <li><a href="{{ url_for('create_story') }}">Share your story</a></li>
    <li><a href="{{ url_for('index') }}">back</a></li>
</ul>

{% endblock %}